@import "/libs/less/variables.less";
@import "/libs/less/mixinFunctions.less";

header {
  .flex(@justify: space-between );
  position: sticky;
  top: 0;
  padding: 10px;
  height: 55px;
  transition: all 1s;
  width: 100%;
  background-color: @primary;

  h1 {
    color: @textPrimary;
    margin-bottom: -5px;
    font-size: 02em;
  }

  nz-avatar:last-of-type {
    border: 1px groove @secondary;
  }
}

.headerHidden {
  top: -50px;
  background: linear-gradient(to bottom right, @primary, @secondary);
  transition: all 2s;
}
