<header>
  <div>
    <nz-avatar
      [nzSize]="50"
      [nzShape]="'square'"
      nzIcon="user"
      nzSrc="/assets/images/zenith_logo.png"
    ></nz-avatar>

    <nav>
      <div
        *ngFor="let tab of tabs; index as tabIndex"
        [class.activeTab]="activeTab === tabIndex"
        (click)="switchTabHandler(tabIndex)"
      >
        <span
          *ngIf="tab.name !== 'Profile'; else elseBlock"
          nz-icon
          [nzType]="tab.icon"
          nzTheme="fill"
        ></span>

        <ng-template #elseBlock>
          <span *ngIf="!profilePicture" nz-icon [nzType]="tab.icon"></span>
          <nz-avatar
            [nzSize]="15"
            *ngIf="profilePicture"
            nzIcon="user"
            [nzSrc]="profilePicture"
          ></nz-avatar>
        </ng-template>

        <span nz-typography> {{ tab.name }} </span>
      </div>
    </nav>
  </div>
</header>
