@import "/libs/less/variables.less";
@import "/libs/less/mixinFunctions.less";

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 5px 10px 0;
  & > div {
    margin: auto;
    .flex(@justify: space-between, @width: 100%   ,@align:flex-end );
    padding: 0 20px;
    max-width: 1200px;
  }
}
// .headerHidden {
//   top: -50px;
//   background: linear-gradient(to bottom right, @primary, @secondary);
//   transition: all 2s;
// }

nav {
  padding: 0 10px;
  .flex(@justify: space-evenly);
  & > div {
    min-width: 70px;
    padding: 5px 15px;
    cursor: pointer;
    .flex(@dir:column; @justify: space-evenly);

    transition: 5s linear all;
    span {
      color: darken(@secondary, 15%);
    }
  }

  .activeTab {
    transition: none;
    border-bottom: 2px solid @primary;
    span {
      color: darken(@secondary, 100%);
    }
  }
}
