@import "/src/app/libs/less/mixinFunctions.less";
@import "/src/app/libs/less/variables.less";

.dashboard {
  .flex(@dir:column; @width: 100%);
  row-gap: 20px;
}

.miniStat {
  .flex(@width: 100%);
  background-color: #fff;
  border-radius: 10px !important;
  & > div:first-of-type {
    width: 100%;
    border-right: 1px solid lighten(@secondary, 20%);
    height: 250px;
    p {
      font-weight: 700;
      color: @secondary;
      text-align: center;
    }
  }
  & > div:last-of-type {
    padding: 0 !important;
    margin: 0 !important;
    & > * > * {
      border: 3px solid red;
    }
    border-radius: 10px;
    margin-left: 10px;
    background-color: #fff;
  }
}

.gauge {
  background-color: #fff;
  border-radius: 10px !important;
  height: 210px;
  width: 100%;
}
