<app-bug-stat></app-bug-stat>

<div class="dailyBugReport">
  <ngx-charts-bar-vertical
    [scheme]="bugReportColorScheme"
    [results]="bugReportData"
    [gradient]="bugReportGradient"
    [xAxis]="bugReportShowXAxis"
    [yAxis]="bugReportShowYAxis"
    [legend]="false"
    [showXAxisLabel]="bugReportShowXAxisLabel"
    [showYAxisLabel]="false"
    [roundDomains]="true"
    xAxisLabel="Previous Daily Commit"
  >
  </ngx-charts-bar-vertical>
</div>

<div class="severity">
  <ngx-charts-pie-grid
    [scheme]="severityColors"
    [results]="severityData"
  ></ngx-charts-pie-grid>
</div>

<div class="gauge">
  <ngx-charts-gauge
    [scheme]="gaugeColors"
    [results]="gaugeData"
    [legend]="true"
    [legendPosition]="legendPosition"
  >
  </ngx-charts-gauge>
</div>

<!-- bugsGauge -->

<!-- [view]="view"
  <ngx-charts-heat-map
    class="chart-container"
    [results]="heatMapData"
    [xAxis]="true"
    [yAxis]="true"
    [scheme]="'flame'"
  > -->
<!-- [customColors]="customColors" -->
<!-- </ngx-charts-heat-map> -->
<!--


  <!-- <ngx-charts-gauge
  [results]="single"
  [legend]="legend"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>

</ngx-charts-gauge> -->
