<app-bug-stat></app-bug-stat>

<div class="miniStat">
  <div>
    <ngx-charts-bar-vertical
      [scheme]="bugReportColorScheme"
      [results]="bugReportData"
      [gradient]="true"
      [xAxis]="false"
      [yAxis]="bugReportShowYAxis"
      [roundDomains]="true"
    >
    </ngx-charts-bar-vertical>
    <p>Previous Daily Commit</p>
  </div>

  <div>
    <ngx-charts-gauge
      [tooltipDisabled]="true"
      [bigSegments]="4"
      [scheme]="gaugeColors"
      [results]="gaugeData"
      [legend]="true"
      legendTitle="Bugs"
      [legendPosition]="legendPosition"
    >
    </ngx-charts-gauge>
  </div>
</div>

<!-- <div>
  <ngx-charts-pie-grid
    [scheme]="severityColors"
    [results]="severityData"
  ></ngx-charts-pie-grid>
</div> -->

<!-- bugsGauge -->

<!-- [view]="view"
  <ngx-charts-heat-map
    class="chart-container"
    [results]="heatMapData"
    [xAxis]="true"
    [yAxis]="true"
    [scheme]="'flame'"
  > -->
<!-- [customColors]="customColors" -->
<!-- </ngx-charts-heat-map> -->
<!--


  <!-- <ngx-charts-gauge
  [results]="single"
  [legend]="legend"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>

</ngx-charts-gauge> -->
