<app-bug-stat></app-bug-stat>

<div class="bugListHeader">
  <h1 nz-typography>List of Bugs</h1>
</div>

<div class="bugsList">
  <div *ngFor="let bug of appBugs">
    <span
      nz-icon
      nzType="flag"
      nzTheme="outline"
      [style]="{ color: bug.color }"
    ></span>

    <section>
      <div>
        <nz-divider
          nzPlain
          [nzText]="bug.label"
          nzOrientation="left"
        ></nz-divider>
        <p>{{ bug.description }}</p>
      </div>
      <div>
        <div>
          <nz-avatar [nzSize]="15" [nzSrc]="bug.reporter.img"></nz-avatar>
          <span (click)="displayProfileHandler(bug.reporter.id)">
            {{ bug.reporter.name }}
          </span>
        </div>
        <span
          nz-icon
          nzType="more"
          nzTheme="outline"
          style="cursor: pointer"
        ></span>
      </div>
    </section>
    <ul>
      <li>{{ bug.ticket }}</li>
      <li>{{ bug.info }}</li>
      <li>{{ bug.platform }}</li>
      <li>{{ bug.severity }}</li>
      <li (click)="displayProfileHandler(bug.developer.id)">
        {{ bug.developer.assigned }}
      </li>
    </ul>
  </div>
</div>

<div
  *ngIf="profileData.id"
  class="displayProfile"
  (click)="displayProfileHandler()"
>
  <div>
    <app-profile></app-profile>
  </div>
</div>

<div *ngIf="profileData.id" class="drawer" (click)="displayProfileHandler()">
  <div>
    <app-profile></app-profile>
  </div>
</div>
