<app-bug-stat [bugsStat]="bugsStat"></app-bug-stat>

<div class="bugListHeader">
  <h1 nz-typography>List of Bugs</h1>
</div>

<div class="bugsList" *ngIf="dashboardBugs?.length">
  <div *ngFor="let bug of dashboardBugs">
    <span
      nz-icon
      nzType="flag"
      nzTheme="outline"
      [style]="{ color: bug.color }"
      (click)="displayBugHandler(bug.id)"
    ></span>

    <section>
      <div>
        <nz-divider
          (click)="displayBugHandler(bug.id)"
          nzPlain
          [nzText]="bug.label"
          nzOrientation="left"
        ></nz-divider>
        <p (click)="displayBugHandler(bug.id)">{{ bug.description }}</p>
      </div>
      <div>
        <nz-avatar [nzSize]="15" [nzSrc]="bug.reporter.img"></nz-avatar>
        <span (click)="displayProfileHandler(bug.reporter.id)">
          {{ bug.reporter.name }}
        </span>
      </div>
    </section>
    <ul>
      <li (click)="displayBugHandler(bug.id)">{{ bug.ticket }}</li>
      <li (click)="displayBugHandler(bug.id)">{{ bug.info }}</li>
      <li (click)="displayBugHandler(bug.id)">{{ bug.platform }}</li>
      <li (click)="displayBugHandler(bug.id)">{{ bug.severity }}</li>
      <li (click)="displayProfileHandler(bug.developer.id)">
        {{ bug.developer.assigned }}
      </li>
    </ul>
  </div>
</div>

<div *ngIf="profileData.id" class="drawer" (click)="displayProfileHandler()">
  <div>
    <app-profile></app-profile>
  </div>
</div>

<div *ngIf="bugData.id" class="drawer" 0 (click)="displayBugHandler()">
  <div>
    <app-bug-details></app-bug-details>
  </div>
</div>
