@import "/libs/less/variables.less";
@import "/libs/less/mixinFunctions.less";

nav {
  position: sticky;
  bottom: 0;
  padding: 0 10px;
  background-color: whitesmoke;
  .flex(@justify: space-evenly);
  // border-top: 1px solid @secondary;
  & > div {
    min-width: 70px;
    padding: 10px 0;
    cursor: pointer;
    .flex(@dir:column; @justify: space-evenly);
    span {
      color: @secondary;
    }
  }

  .activeTab {
    border-top: 2px solid @primary;
    transition: all 3s;
    span {
      color: darken(@secondary, 100%);
    }
  }
}
