<div class="sidebar">
  <nz-card nzHoverable style="width: 280px">
    <nz-card-meta nzTitle="Notifications"></nz-card-meta>
    <p *ngIf="!notifications?.length">
      You’re all caught up! Check back later for new notifications
    </p>

    <ul
      *ngIf="notifications?.length"
      nzItemLayout="horizontal"
      class="color-with-marker"
    >
      <li *ngFor="let description of notifications">
        {{ description }}
      </li>
    </ul>

    <app-footer></app-footer>
  </nz-card>
</div>
