<div *ngIf="pageLoading"><app-loading></app-loading></div>
<div *ngIf="!pageLoading">
  <div [ngSwitch]="appNotCompatible" id="app">
    <div *ngSwitchCase="''">
      <div class="app-layout">
        <app-header></app-header>
        <div class="app-content">
          <app-sidebar></app-sidebar>
          <main>
            <router-outlet></router-outlet>
          </main>
        </div>
      </div>
    </div>

    <div *ngSwitchDefault [ngStyle]="{ maxWidth: '1200px', margin: 'auto' }">
      {{ appNotCompatible }}
    </div>
  </div>
</div>
