// // @vars: "/source/less/variables.less";
@import "/libs/less/variables.less";

.app-layout {
  // border: 3px solid red;
  margin: auto;
  // max-width: 1200px;

  -ms-overflow-style: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: lighten(@secondary, 25%);

  // border: 1px groove @secondary;

  // overflow: scroll;
  // overflow-x: hidden;

  // -ms-overflow-style: none; /* Hide Scrollbar Internet Explorer 10+ */
  // scrollbar-width: none; /* Hide Scrollbar Firefox */

  // * {
  //   outline: none;
  //   -webkit-tap-highlight-color: transparent;
  //   img {
  //     overflow: hidden;
  //   }
  // }
  // ::-webkit-scrollbar-thumb {
  //   background: #ff0000;
  // }
}
