html,
body {
  scroll-behavior: smooth;
  * {
    box-sizing: border-box;
  }
}

button {
  border-radius: 5px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
}

input {
  border-radius: 5px !important;
}
