<div class="bugsStat">
  <div *ngFor="let stat of bugsStat">
    <div>
      <h2 nz-typography>{{ stat.label }}</h2>
      <span nz-icon [nzType]="stat.icon" style-color="blue"></span>
    </div>
    <h1>
      {{ stat.total }}
    </h1>
    <p>
      {{ stat.description }}
    </p>
  </div>
</div>

<div class="bugListHeader">
  <h1 nz-typography>Bug List</h1>
</div>

<div class="bugsList">
  <div *ngFor="let bug of appBugs">
    <div>icon</div>
    <div>description</div>
    <div>details</div>
  </div>
</div>
