<div class="auth">
  <div>
    <img src="/assets/images/signin.jpg" alt="Zenith Bug Tracker Signin" />
  </div>

  <div>
    <main>
      <div>
        <nz-avatar
          [nzShape]="'square'"
          [nzSize]="70"
          nzIcon="user"
          nzSrc="/assets/images/zenith-logo.png"
        ></nz-avatar>
      </div>

      <!-- <img src="/assets/images/signin.jfif" alt="sigin logo" /> -->
      <h2>Bug Tracker!!!</h2>
      <p>
        Welcome to Zenith Bug Tracker, a community of developers and friendly
        folks fixing
      </p>

      <nz-input-group nzAddOnAfterIcon="user" nzSize="large">
        <input type="text" nz-input [(ngModel)]="email" />
      </nz-input-group>

      <nz-input-group [nzSuffix]="suffixTemplate" nzSize="large">
        <input
          size="large"
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          placeholder="input password"
          [(ngModel)]="password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <span
          nz-icon
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"
        ></span>
      </ng-template>

      <div routerLink="reset">
        <span> Recover Password </span>
      </div>

      <button [nzBlock]="true" nzSize="large" nz-button nzType="primary">
        Login
      </button>

      <div>
        <span> Not yet a user? </span>
        <button routerLink="signup" [nzBlock]="true" nz-button nzType="primary">
          SIGNUP
        </button>
      </div>
    </main>
  </div>
</div>
