<div class="auth">
  <div>
    <img src="/assets/images/ziva.jpg" alt="Zenith auth logo" />
  </div>

  <div>
    <nz-avatar
      [nzSize]="50"
      [nzShape]="'square'"
      nzIcon="user"
      nzSrc="/assets/images/zenith-logo.png"
    ></nz-avatar>
    <div></div>
  </div>

  <div>
    <img src="/assets/images/signin.jfif" alt="sigin logo" />
    <h2>Hello Again!</h2>
    <p>
      Welcome to Zenith Bug Tracker, a community of developers and friendly
      folks fixing
    </p>
    signin goes here
  </div>
</div>
